*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0

}

/* Для WebKit */
::-webkit-scrollbar {
  width: 10px; /* Ширина полосы прокрутки */
  background-color: rgb(176, 109, 218)
}

::-webkit-scrollbar-thumb {
  background-color: #d0b9b9; /* Цвет полосы прокрутки */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d74343; /* Цвет полосы прокрутки при наведении */
}